
.container-main{
   display: grid;
   min-height: 100vh;

   grid-template-areas:
           'topbar topbar'
           'browser main'
           'browser add'
           'browser historial'
           ;

   grid-template-columns: 300px auto;
   grid-template-rows: 56px 300px 60px auto;
   transition: grid-template-rows  500ms;
}

.container-main.addGestion{
   grid-template-rows: 56px 300px 300px auto;
   transition: grid-template-rows  500ms;
}




/*.cell-topbar , .cell-browser ,.cell-data-main ,.cell-data-add, .cell-data-historial {*/
/*   border: 2px solid blue*/
/*}*/

/*.cell-browser { background-color: aqua}*/
/*.cell-data-main{ background-color: pink}*/
/*.cell-data-add{ background-color: indianred}*/
/*.cell-data-historial{ background-color: lightcoral}*/





.cell-topbar{ grid-area: topbar}
.cell-browser{ grid-area: browser}
.cell-data-main{ grid-area: main}
.cell-data-add{ grid-area: add}
.cell-data-historial{ grid-area: historial}
