
.container-main {
   display: grid;
   min-height: 100vh;
   grid-template-areas: 'topbar topbar topbar' 'browser add main' 'browser historial historial ';
   grid-template-columns: 300px auto 600px ;
   grid-template-rows: 56px 400px auto;
   background-color: #F1F1F1;

}


/*.cell-topbar , .cell-browser ,.cell-data-main ,.cell-data-add, .cell-data-historial {*/
/*   border: 2px solid blue*/
/*}*/

/*.cell-browser { background-color: aqua}*/
/*.cell-data-main{ background-color: pink}*/
/*.cell-data-add{ background-color: indianred}*/
/*.cell-data-historial{ background-color: lightcoral}*/


.cell-topbar {
   grid-area: topbar
}

.cell-browser {
   grid-area: browser;


}

.cell-data-main {
   grid-area: main;
}

.cell-data-add {
   grid-area: add
}

.cell-data-historial {
   grid-area: historial
}

/* ****************************************** */
/* ****************************************** */
/* ****************************************** */
:root { --toopBarH: 55px; }
#wrapperListaCliente {
   padding-top: 5px;
   max-height: 98vh;
   overflow-y: scroll;
}

.listaClientes .itemCliente {
   display: flex;
   align-items: center;
   border-bottom: 1px solid #c3c3c3;
   cursor: pointer;
   padding-right: 3px;
   min-height: 48px;
}



.labNombreCompleto {
   padding-left: 4px;
   padding-right: 4px;
   flex-grow: 1;
}

.labNombreCompleto span {
   margin-left: 5px;
   display: inline-block
}
.labIndex{ width: 40px; text-align: center; font-size: 11px}
.labPrioridad {
   width: 50px
}

.prioridad1 {
   background-color: #fff;
   color: #000
}

.prioridad2 {
   background-color: #CACED9;
   color: #000
}

.prioridad3 {
   background-color: #4D94EA;
   color: #fff
}

.prioridad4 {
   background-color: #006600;
   color: #fff
}

.badgeEstatus{
   width: 40px;
}


.seccionTopListaCliente {
   padding-top: 5px;
   height: 60px;
}


.tab-pane{ background-color: #fff}




.panfull {

   padding: 3px;
}

.wrapperTab {
   background-color: #fff;
}

.nav.nav-tabs{background-color: #F1F1F1}


/*SEcion Panel edit*/

tr.trDataEdit td,
tr.trDataEdit th {
   height: 40px;
}
tr.trDataEdit td input.form-control-sm {font-size: 14px}

.labp{padding: 3px 6px; border-radius: 10px}


/* ********************************************************** */
/* ********************************************************** */


.cell-data-add{
   padding: 5px;
   background-color: #6C757D;
   color:#fff
}
