@keyframes mymove {
  from {
    border: 3px solid #fff;
  }
  to {
    border: 3px solid #000;
  }
}

.selected {
  border: 2px solid;
  border-bottom: 2px !important;
  animation: mymove 3s infinite;

  margin-top: -1px;
}
